<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Peer to peer chat</title>
    <meta name = 'viewport' content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>
<body>
<div id="videos">
    <video class="video-player" id="viewer" autoplay playsinline></video>
    <video class="video-player" id="master" autoplay playsinline></video>
</div>


</body>
<script src="main.js"></script>
</html>