body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
}

.videos {
    flex: 1;
    position: relative;
}

#viewer {
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#controls {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#controls label {
    margin-top: 10px;
}

#controls .control-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#controls .control-group input[type="number"] {
    width: 60px;
    margin-left: 10px;
}

/*.video-overlay-showing {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.video-overlay-showing {
    background-color: black;
    opacity: 0.5;
}

.loader {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: red;
    background-color: transparent;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}



@media (max-width: 1280px) {
    #content {
        flex-direction: column;
    }

    #controls {
        width: 100%;
    }
}
